body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  margin: auto;
  font-family: Arial, "Helvetica Neue", "Helvetica, sans-serif";
  color: #777777;
  background-image: url("../images/vintage-wallpaper.png");
}
